body {
    background-color: white;
    animation: change-background 10s infinite;
  }
  
  @keyframes change-background {
    0% {
      background-color: white;
    }
  
    50% {
      background-color: black;
    }
  
    100% {
      background-color: white;
    }
  }
